.footer
  .container.footer__container
    .footer__logo
      include ../../images/svg/logo.svg
    .footer__top#contacts
      .footer__section
        .footer__section-title
          | sinclair pharma russia
        .footer__section-item
          | Бизнес-центр «Дом Немецкой Экономики», Москва, 1-й Казачий переулок, дом 5/2, стр. 1
        .footer__section-item.footer__section-item-phone
          a(href="tel:+74951345187")
            | +7 (495) 134 51 87
        .footer__section-item
          a(href="mailto:info.russia@sincliarpharma.com")
            | info.russia@sincliarpharma.com
        .footer__section-item.footer__section-item-socials
          a(href="https://www.instagram.com/sinclairpharmarussia/").social.social__inst
            include ../../images/svg/insta.svg
          a(href="https://www.facebook.com/SinclairPharmaRussia/").social.social__fb
            include ../../images/svg/fb.svg
      .footer__section
        .footer__section-title
          | Официальный дистрибьютор
        .footer__section-item
          | ООО “Эстемарко”
        .footer__section-item
          | Москва, ул. Вересаева, 8
        .footer__section-item.footer__section-item-phone
          a(href="tel:+74959214503")
            | +7 (495) 921 4503
        .footer__section-item
          a(href="https://estemarco.ru/")
            | estemarco.ru
    .footer__bottom
      .footer__nav
        ul.footer__nav-list
          li.footer__nav-item 
            a(href="/") О бренде
          li.footer__nav-item 
            a(href="./perfectcha.pug") Perfectha
            sup ®
          li.footer__nav-item
            a(href="./ellance.pug") Ellansé
            sup ®
          li.footer__nav-item
            a(href="./index.pug#partners") Для партнеров
      .copyright
        a(href="../policy.pdf")
          | Политика конфиденциальности 
        a(href="../policy.pdf")
          | Политика обработки персональных данных
        div 
          | Sinclair Pharma © Copyright All Rights Reserved. 

        
