.header.header-main
  .container.header__container
    include ../includes/navigation.pug
    img.header__bg(src="../../images/desctop/header-1.jpg")
    .header__text
      | Иновационные продукты для эстетической медицины
