.header.header__ellance.with-line
  img.header__bg.desctop(src="../../images/desctop/header-2.jpg")
  img.header__bg.mobile(src="../../images/mobile/header-2.jpg")
  .container.header__container
    include ../includes/navigation.pug
    // header__text продублирован для мобильной версии
    h1.header__text.desctop
      | Специальная линейка дермальных филлеров- биостимуляторов Ellansé® на основе поликапролактона
