.header.header-main
  img.header__bg(src="../../images/desctop/header-1.jpg")
  .container.header__container
    include ../includes/navigation.pug
    h1.header__text
      | Иновационные продукты
      br
      | для эстетической медицины
