.header.header-main.with-line
  img.header__bg.desctop(src="../../images/desctop/header-1.jpg")
  img.header__bg.mobile(src="../../images/mobile/header-1.jpg")
  .container.header__container
    include ../includes/navigation.pug
    // header__text продублирован для мобильной версии
    h1.header__text.desctop
      | Иновационные продукты
      br
      | для эстетической медицины
