.header.with-line.header__perfectha
  img.header__bg.desctop(src="../../images/desctop/header-3.jpg")
  img.header__bg.mobile(src="../../images/mobile/header-3.jpg")
  .container.header__container
    include ../includes/navigation.pug
    // header__text продублирован для мобильной версии
    .header-text__wrapper.desctop
      .header__sublogo
          include ../../images/svg/logo-perfectha.svg
      h1.header__text
        | Специальная линейка дермальных филлеров на основе гиллауроновой кислоты
