.header {
  position: relative;
  width: 100%;
  min-height: calc(724/1280*100vw);
  padding-top: 60px;

  overflow: hidden;
}

.header__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__container {
  position: relative;
  z-index: 1;
}

.header__text {
  margin-left: calc(653/1280*100%);

  font-size: 60px;
  line-height: 60px;
  font-family: $font-moon-family;
  font-weight: normal;
}

.header-main .header__text {
  margin-top: 154px;
}

.header__ellance {
  min-height: calc(746/1280*100vw)
}

.header__ellance::before {
  background: $bg-yellow;
}

.header__perfectha::before {
  background: #F3D5DB;
}

.header__perfectha {
  .header-text__wrapper {
    margin-top: 96px;
    margin-left: calc(633/1280*100%);
    color: #ffffff;
  }

  .header__text {
    margin-top: 0;
    margin-left: 0;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
    font-weight: $thin;
  }

  .header__sublogo svg {
    margin-bottom: 25px;
    width: 206px;
    height: 28px;
  }

  .navigation__link {
    color: #ffffff;
  }

  .social__navigation {
    path {
      stroke: #ffffff;
    }

    .facebook-svg-path {
      fill: #ffffff;
      stroke: transparent;
    }
  }

  .logo__link.logo__link-face {
    path {
      stroke: transparent;
      fill: #ffffff;
    }
  }

  .navigation__hamburger {
    rect {
      fill: #ffffff;
    }
  }
}

.header__ellance .header__text {
  margin-top: 97px;
  max-width: 524px;
  width: 100%;
  font-size: 50px;
  line-height: 55px;
}


@media (max-width: 1146px) {
  .header__ellance .header__text {
    font-weight: 300;
    font-size: 40px;
    line-height: 45px;
  }
}

@media (max-width: $tablet) {
  .header__ellance {
    margin-bottom: 31px;
  }

  .header {
    padding-top: 27px;
    height: calc(555/375*100vw);
    max-height: 650px;
  }

  .header__text-ellanse {
    max-width: 700px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

    font-size: 35px;
    line-height: 40px;
    font-family: $font-moon-family;
    font-weight: $thin;
  }

  .header__perfectha {
    .navigation__link {
      color: #35342E;
    }

    .social__navigation {
      path {
        stroke: #221F20;
      }
  
      .facebook-svg-path {
        fill: #221F20;
        stroke: transparent;
      }
    }
  }

  .header-text__wrapper.mobile {
    margin-top: 32px;
    padding-left: 25px;
    padding-right: 25px;

    .header__text {
      margin-left: 0;
      font-size: 35px;
      line-height: 40px;
    }
  }
}