.main-description {
  padding-top: 91px;
}

.main-description__row {
  display: flex;
  flex-flow: row nowrap;
}

.main-description__col {
  max-width: 472px;
  width: 100%;
  margin-right: 91px;

  font-size: 15px;
  line-height: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.main-features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-features__row {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -20px;
  margin-right: -20px;
}

.main-features__col {
  max-width: 280px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  font-family: $font-moon-family;
  font-size: 33px;
  line-height: 36px;
}

.main-portfolio__container {
  padding-top: 100px;

  border-top: 1px solid rgba(53, 52, 46, 0.5);
}

.main-portfolio__container span {
  font-weight: $bold;
  text-transform: uppercase;
}

.main-portfolio__wrapper {
  max-width: 637px;
  margin-bottom: 92px;

  font-size: 13px;
  line-height: 25px;
}


.main-perfectha {
  position: relative;
}

.main-perfectha__image::before {
  display: none;
}

.main-perfectha__image img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-perfectha__container {
  min-height: 700px;
  padding-top: 152px;
  padding-bottom: 130px;

  &::before {
    background: #F3D5DB;
  }
}

.main-perfectha__text-wrapper {
  margin-left: calc(700/1280*100vw);
}

.main-perfectha__logo {
  margin-bottom: 19px;
}

.main-perfectha__text {
  max-width: 360px;

  font-size: 15px;
  line-height: 25px; 
}

.main-perfectha__btn {
  padding: 16px 26px;
  margin-top: 29px;

  font-weight: $bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  background: #F3D5DB;

  border: none;
}

.main-ellanse {
  position: relative;
}

.main-ellanse__logo {
  margin-bottom: 21px;
}

.main-ellanse__image img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.main-ellanse__container {
  min-height: 700px;
  padding-top: 196px;
  padding-bottom: 170px;

  &::before {
    background: $bg-yellow;
  }
}

.main-ellanse__text {
  max-width: 421px;

  font-size: 15px;
  line-height: 25px; 
}

.main-ellanse__btn {
  padding: 16px 26px;
  margin-top: 29px;

  font-weight: $bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  background: $bg-yellow;

  border: none;
}

.partners {
  padding-top: 99px;
  padding-bottom: 101px;
}

.partners__for {
  margin-bottom: 11px;

  font-weight: $bold;
  font-size: 13px;
  line-height: 25px;
  text-transform: uppercase;
}

.partners__title {
  margin-bottom: 16px;

  font-family: $font-moon-family;
  font-size: 60px;
  line-height: 60px;
}

.partners__description {
  font-size: 15px;
  line-height: 25px;
}

.partners__features {
  padding-top: 97px;
  color: $text-blue-color;
}

.partners__features-row {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -23px;
  margin-right: -23px;
}

.partners__features-col {
  max-width: 261px;
  width: 100%;
  padding-left: 23px;
  padding-right: 23px;
}

.form__wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 111px;
  padding-bottom: 101px;
  padding-left: 100px;
  padding-right: 93px;

  border-top: 1px solid rgba(53, 52, 46, 0.5);
}

.form__left {
  max-width: 398px;
  width: 100%;
  margin-right: 62px;

  text-align: right;
  font-family: $font-moon-family;
  font-size: 33px;
  line-height: 36px;
}

.form__right {
  max-width: 427px;
  width: 100%;
  padding-top: 8px;
}

.form__input {
  margin-bottom: 20px;
}

.form__input input {
  display: block;
  width: 100%;
  padding: 10px 14px;

  font-size: 15px;
  line-height: 25px;
  background: #F7F7F7;
  border: none;

  &::placeholder {
    color: $text-base-color;
  }
}

.form-button {
  padding: 15px 30px;
  margin-bottom: 16px;

  border: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: $bold;
  color: #ffffff;

  background: #1563A8;
}

.conditions {
  font-size: 11px;
  line-height: 16px;
}

@media (max-width: $tablet) {
  .main-description {
    padding-top: 20px;
  }

  .main-description__row {
    flex-flow: column nowrap;
  }

  .main-description-title {
    margin-bottom: 23px;
    margin-left: 0;

    font-size: 35px;
    line-height: 40px;
    font-family: $font-moon-family;
  }

  .main-description__col {
    margin-right: 0;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-features {
    padding-top: 55px;
    padding-bottom: 59px;
  }

  .main-features__row {
    flex-flow: column nowrap;
  }

  .main-features__col {
    max-width: 500px;
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-portfolio__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .main-portfolio__wrapper {
    margin-bottom: 0;
  }

  .main-perfectha__image::before {
    display: block;
  }

  .main-perfectha__image img {
    position: static;
    min-height: 375px;
    height: auto;
  }

  .main-perfectha__container {
    min-height: 0;
    padding-top: 27px;
    padding-bottom: 51px;
  }

  .main-perfectha__text-wrapper {
    margin-left: 0;
  }

  .main-ellanse__image img {
    position: static;
    height: auto;
    width: 100%;
    min-height: 0;
  }

  .main-ellanse__container {
    min-height: 0;
    padding-top: 25px;
    padding-bottom: 62px;
  }

  .partners {
    padding-top: 54px;
    padding-bottom: 60px;
  }

  .partners__title {
    font-size: 40px;
    line-height: 45px;
  }

  .partners__features {
    padding-top: 41px;
  }

  .partners__features-row {
    flex-flow: column nowrap;
  }

  .partners__features-col {
    max-width: 500px;
    width: 100%;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__wrapper {
    flex-flow: column nowrap;

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__left {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    padding-bottom: 57px;

    text-align: left;
  }

  .form__right {
    max-width: 100%;
    width: 100%;
  }
}


