.concentration {
  position: relative;
  z-index: 1;
  margin-top: -180px;
  overflow: hidden;

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 200px;
    justify-content: space-between;
    max-width: 1083px;
    margin-left: auto;
    margin-right: auto;
  }

  .left {
    max-width: 413px;
    width: 100%;
    margin-top: 43px;
  }

  .perfectcha-info__title {
    font-family: $font-moon-family;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
  }

  .perfectcha-info__description {
    margin-top: 48px;
  }

  .right {
    position: relative;
    max-width: 533px;
    width: 100%;
    padding-bottom: 57px;
    margin-top: -191px;
    margin-right: 27px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 4px;
      width: 100vw;
      height: 1px;
      background: #000000;
    }

    img {
      display: block;
      width: 100%;
      margin-right: 99px;
    }

    ul {
      display: flex;
      justify-content: space-around;

      li {
        width: 116px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #35342e;
      }

      // li:nth-child(2) {
      // }
    }
  }
}

.deep {
  position: relative;
  display: flex;
  width: 1024px;
  margin: 195px auto;

  .deep-circle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }

  .deep-circle1 {
    max-width: 105px;
    width: 100%;
    left: 58%;
    top: 176px;
  }

  .deep-circle2 {
    max-width: 207px;
    width: 100%;
    left: calc(589 / 1280 * 100vw);
    top: 250px;
    left: -210px;
  }

  .deep-circle3 {
    max-width: 298px;
    width: 100%;
    top: 195px;
    left: 72%;

    img {
      width: 100%;
    }
  }

  .deep-circle4 {
    max-width: 25px;
    width: 100%;
    top: 269px;
    left: 0px;
  }

  .deep-circle5 {
    max-width: 56px;
    width: 100%;
    left: 94%;
    top: 50px;
  }

  .deep-circle6 {
    max-width: 25px;
    width: 100%;
    top: 310px;
    left: 52%;
  }

  .deep-circle7 {
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .left {
    max-width: 446px;
    width: 100%;

    .deep__title {
      font-family: $font-moon-family;
      font-weight: 300;
      font-size: 90px;
      line-height: 80px;
      text-align: right;
    }

    .deep__subtitle {
      margin-left: auto;
      width: 286px;
      font-weight: 300;
      font-size: 15px;
      line-height: 25px;
      color: #2e3235;
      margin-top: 26px;
      text-align: right;
    }

    .deep__description {
      max-width: 240px;
      width: 100%;
      font-family: TT Moons;
      font-style: normal;
      font-weight: 300;
      font-size: 33px;
      line-height: 36px;
      text-align: right;
      color: #35342e;
      margin-left: auto;
      margin-top: 26px;
    }

    .deep__description.desk {
      font-family: $font-moon-family;
    }
  }

  .deep__description.mob {
    display: none;
  }

  .right {
    display: flex;
    margin-left: auto;
  }
}

.deep-levels {
  margin-left: 36px;
  margin-right: 69px;
  margin-top: 5px;

  .deep-level_item {
    display: flex;
    align-items: center;
    margin-top: 21px;

    .circle {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .green {
      background: #accca8;
    }

    .blue {
      background: #b6cbe1;
    }

    .rose {
      background: #e0a1af;
    }

    .yellow {
      background: #f0d061;
    }

    span {
      font-family: Raleway;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 17px;
      text-transform: uppercase;
      color: #2e3235;
      margin-left: 8px;
    }
  }
}

.deep-levels_img {
  width: 141px;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.deep-levels-pieces__wrapper {
  display: flex;
  flex-direction: column;
}

.deep-pieces_item {
  display: flex;
  align-items: center;
  margin-left: 10px;

  span {
    margin-left: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #2e3235;
  }
}

.line-rose {
  width: 10px;
  height: 85px;
  background: #c688a1;
}

.line-yellow {
  width: 10px;
  height: 160px;
  background: #dfc185;
}

.line-orange {
  width: 10px;
  height: 55px;
  background: #ca984a;
}

.line-brown {
  width: 10px;
  height: 39px;
  background: #5c2f29;
}

.line-grey {
  width: 10px;
  height: 67px;
  background: #b4a092;
}

section.face {
  margin-bottom: 102px;

  .wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 87px;
  }

  .face_title {
    img {
      display: block;
      margin-left: auto;
    }
  }
}

.face-info_block {
  width: 498px;
  position: relative;
  display: flex;
  background: #e7f7f0;
  padding: 55px 0px 104px 82px;
  margin-top: 34px;
}

.info-side {
  width: 270px;
  margin-top: -15px;
}

.info_block-section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid rgba(53, 42, 46, 0.3);
  padding-bottom: 18px;
}

.info_block-section__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #35342e;
  opacity: 0.5;
}

.info_block-section__description {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: #35342e;
}

.image-side {
  width: 125px;
  height: 339px;
  position: absolute;
  top: 14%;
  right: -20px;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.image-side.custom-yellow {
  width: 148px;
  right: -28px;
}

.face-center {
  max-width: 597px;
  margin-top: -63px;
  margin-left: -20px;

  img {
    width: 100%;
  }
}

.face-right {
  width: 340px;
  height: 100%;
  padding: 0px 78px 84px 53px;
  margin-left: auto;
}

.face-right__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.face-right__subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin-top: 10px;
}

.indication {
  margin-top: 18.5px;

  li {
    display: flex;
    align-items: center;
    margin-top: 11px;

    .indication-circle {
      padding: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 29px;
      height: 29px;
      border: 0.5px dashed #35342e;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
    }

    span {
      margin-left: 8px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
    }
  }
}

.and {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin-top: 22px;
}

.face-info_block.blue {
  background: #e7effa;
}

.face-info_block.rose {
  background: #fae7ed;
}

.face-info_block.yellow {
  background: #fcf7d7;
}

.available {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 25px;
  text-align: right;
  color: #000000;
  margin-top: 16px;
}

section.face.mob {
  display: none;
}

@media (max-width: $tablet) {
  .concentration {
    .wrapper {
      flex-direction: column-reverse;
      padding-left: 25px;
      padding-right: 25px;
    }

    .right {
      margin-left: 0;
      margin-top: 0;
      border: none;
      padding: 0;
      max-width: 325px;

      &::before {
        display: none;
      }

      img {
        width: 100%;
      }

      ul {
        li {
          font-size: 9px;
        }
      }
    }

    .left {
      margin-top: 32px;
      border-bottom: 1px solid #35342e;
      padding-bottom: 55px;
    }

    .perfectcha-info__title {
      font-family: $font-moon-family;
      font-weight: 300;
      font-size: 35px;
      line-height: 40px;
      color: #000000;
    }

    .perfectcha-info__description {
      margin-top: 16px;
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
    }
  }

  .deep {
    max-width: 375px;
    width: 100%;
    //margin-top: 45px;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    //margin: 73px auto;
    margin: 45px 0;

    .wrapper {
      flex-flow: column nowrap;
    }

    .deep-levels_img {
      height: initial;
    }

    .left {
      .deep__title {
        font-weight: 300;
        font-size: 60px;
        line-height: 60px;
        text-align: left;
      }

      .deep__subtitle {
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        color: #2e3235;
        margin-top: 7px;
        text-align: left;
        margin-left: 0;
      }

      .deep__description {
        display: none;
      }
    }

    .deep-pieces_item span {
      font-size: 14px;
      margin-left: 15px;
    }

    .deep-levels {
      margin-left: 0;
      margin-top: 23px;
      max-width: 325px;
    }

    .line-orange {
      max-width: 10px;
      width: 100%;
    }

    .right {
      margin-left: 0;
      margin-top: 38px;
      max-width: 325px;
      width: 100%;
    }

    .deep-levels-pieces__wrapper {
      width: 100%;
    }

    .deep__description.mob {
      display: block;
      max-width: 325px;
      width: 100%;

      font-family: $font-moon-family;
      font-style: normal;
      font-weight: 300;
      font-size: 33px;
      line-height: 36px;
      color: #35342e;
      margin-top: 32px;
      border-bottom: 1px solid #35342e;
      padding-bottom: 82px;
    }

    .deep-circle1 {
      left: 89px;
      top: 363px;
    }

    .deep-circle3 {
      top: 525px;
      left: 11%;
    }

    .deep-circle5 {
      left: 80%;
      top: 338px;
    }
  }

  .deep-circle2,
  .deep-circle4,
  .deep-circle6 {
    display: none;
  }

  .face {
    display: none;
  }

  section.face.mob {
    display: block;
    margin-bottom: 65px;

    .wrapper {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 65px;

      .face_title,
      .face-right__title,
      .face-right__subtitle,
      .indication {
        padding-left: 24px;
        padding-right: 24px;
        width: 247px;
      }

      .face-right__title {
        margin-top: 19px;
      }

      .face-right__subtitle {
        margin-top: 10px;
      }

      .face-info_block {
        width: 100%;
      }

      .face-center {
        position: relative;
        margin-top: -80px;

        img {
          width: 100%;
        }
      }

      .face-center.custom {
        margin-top: -120px;
      }

      .image-side {
        height: 267px;
        left: 44px;
        top: 23%;
        z-index: 1;
        width: 80%;

        img {
          width: 100px;
        }
      }

      .image-side-custom {
        height: 267px;
        position: absolute;
        right: -20px;
        left: 44px;
        width: 80%;
        top: 220px;
        z-index: 1;

        img {
          width: 100px;
        }
      }

      .face-info_block {
        margin-top: 0;
        padding: 51px 25px 29px 45px;
      }

      .info-side {
        width: 100%;
      }
    }
  }
}

@media (max-width: 414px) {
  section.face.mob .wrapper .image-side {
    top: 30%;
  }

  section.face.mob .wrapper .image-side-custom {
    top: 35%;
  }
}

@media (max-width: 376px) {
  section.face.mob .wrapper .image-side {
    top: 27%;
  }

  section.face.mob .wrapper .image-side-custom {
    top: 32%;
  }
}

@media (max-width: 351px) {
  section.face.mob .wrapper .image-side {
    top: 24%;
  }

  section.face.mob .wrapper .image-side-custom {
    top: 29%;
  }
}

@media (max-width: 320px) {
  section.face.mob .wrapper .image-side {
    top: 20%;
  }

  section.face.mob .wrapper .image-side-custom {
    top: 26%;
  }

  section.face.mob .wrapper .face-center {
    margin-top: -44px;
  }
}
