extends ../layout/layout.pug

block content
  main.main
    include ../includes/header.pug
    section.main-description
      .container
        .main-description__row.row
          .col-md
            | Sinclair Pharma, один из мировых лидеров в области эстетической медицины, специализируется на разработке и создании инновационных продуктов с фокусом на стимуляцию выработки коллагена. Основанная в 1971 году компания высоко зарекомендовала себя на международном рынке и завоевала признание у профессионалов во всем мире благодаря высокому качеству, эффективности, безопасности создаваемых продуктов и стабильным результатам их использования.
          .col-md
            | Сегодня представительства Sinclair работают во многих странах Западной Европы, США, Великобритании, Южной Корее, Объединенных Арабских Эмиратах, Бразилии и Мексике.
    section.main-features
      .container
        .row
          .col-sm
            | Более 40 лет научной экспертизы, передовых разработок и успешных испытаний 
          .col-sm
            | Глобальная мировая компания - 88 стран присутствия. 
          .col-sm
            | Качество и безопасность продуктов подтверждены сертификатами FDA и CE 
        
    section.main-features
      .container
        | Инновационный портфель Sinclair Pharma охватывает все направления эстетической медицины и постоянно расширяется. Продукты создаются по самым высоким стандартам, исключительно из очищенного сырья, отвечающего всем требованиям безопасности. Каждый этап, от разработки формулы до упаковки продуктов, сопровождается строгим контролем качества. В результате клиент получает высококачественный продукт нового поколения, без примесей, с оптимальными характеристиками пластичности, эластичности и вязкости.
    section.main-perfectha
      .main-perfectha__image
        //- img(src="../../desctop")
      .container


