
extends ../layout/layout.pug

block content

  section.concentration
    .wrapper
      .left
        .perfectcha-info__title
          | Концентрация гилауроновой кислоты 20 мг/мл
        .perfectcha-info__description
          | Филлеры Perfectcha® Предназначены для коррекции морщин, формирования контуров и восстановления объема лица  
      .right
        img(src="../../images/image2.png" alt="Image")
        ul
          li
            | Perfectcha® Subskin
          li
            | Perfectcha® Deep
          li
            | Perfectcha® derm
          li
            | Perfectcha® finelines
  section.deep
   .wrapper
    .left
      .deep__title  
        | Глубина инъекции
      .deep__subtitle
        | Чем больше размер частиц, тем глубже необходимо вводить препарат  
      .deep__description.desk
        | Более 4 млн.шприцев реализовано во всем мире
    .deep-levels
      .deep-level_item
        .circle.green
        span
          | Finelines
      .deep-level_item
        .circle.blue
        span
          | Derm
      .deep-level_item
        .circle.rose
        span
          | Deep
      .deep-level_item
        .circle.yellow
        span
          | Subskin
    .right
      .deep-levels_img
        img(src="../../images/levels.jpg" alt="Image")
      .deep-levels-pieces__wrapper
        .deep-pieces_item
          .line-rose
          span
            | Эпидермис
            
        .deep-pieces_item
          .line-yellow
          span
            | Дерма
        .deep-pieces_item
          .line-orange
          span
            | Подкожно-жировая клетчатка
        .deep-pieces_item
          .line-brown
          span
            | Мышцы
        .deep-pieces_item
          .line-grey
          span
            | Костная ткань
    .deep__description.mob
      | Более 4 млн.<br>шприцев реализовано во всем мире        

  section.face
    .wrapper
      .face-left
        .face_title
          img(src="../../images/finelines-logo.jpg" alt="logo")
        .face-info_block
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | 	Внутрикожно или супрапериостально(носослезные борозды)  
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	+
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 0.5 мл
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | 2 иглы размером 30 G1/2’’ 
          .image-side
            img(src="../../images/finelines-img.png" alt="img")
      .face-center
        img(src="../../images/face-1.png" alt="alt")
      .face-right
        .face-right__title
          | Показания к применению
        .face-right__subtitle
          | Поверхностные морщины и складки лица, в том числе:
        ul.indication
          li
            .indication-circle
              | 1
            span 
              | периорбитальные морщины   
          li
            .indication-circle
              | 2
            span 
              | периоральные морщины
          li
            .indication-circle
              | 3
            span 
              | поверхностные лобные морщины 
          li
            .indication-circle
              | 4
            span 
              | носослезные борозды 




  section.face.mob
    .wrapper
      .face_title
        img(src="../../images/finelines-logo-mob.png" alt="logo")
      .face-right__title
        | Показания к применению
      .face-right__subtitle
        | Поверхностные морщины и складки лица, в том числе:  
      ul.indication
        li
          .indication-circle
            | 1
          span 
            | периорбитальные морщины   
        li
          .indication-circle
            | 2
          span 
            | периоральные морщины
        li
          .indication-circle
            | 3
          span 
            | поверхностные лобные морщины 
        li
          .indication-circle
            | 4
          span 
            | носослезные борозды 

      .face-center
        .image-side
          img(src="../../images/finelines-img.png" alt="img")
        img(src="../../images/face-1.png" alt="alt")
        .face-info_block
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | 	Внутрикожно или супрапериостально(носослезные борозды)  
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	+
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 0.5 мл
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | 2 иглы размером 30 G1/2’’ 
      
          






  section.face
    .wrapper
      .face-left
        .face_title
          img(src="../../images/derm-logo.jpg" alt="logo")
        .face-info_block.blue
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | Поверхностный подкожный	или подслизистый слой 
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	++
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 1 мл
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | 2 иглы размером 30 G1/2’’ 
          .image-side
            img(src="../../images/derm-img.png" alt="img")
      .face-center
        img(src="../../images/face-2.png" alt="alt")
      .face-right
        .face-right__title
          | Показания к применению
        .face-right__subtitle
          | Умеренно выраженные морщины и складки лица, в том числе:
        ul.indication
          li
            .indication-circle
              | 1
            span 
              | периорбитальные морщины   
          li
            .indication-circle
              | 2
            span 
              | периоральные морщины
          .and 
            | а также    
          li
            .indication-circle
              | 3
            span 
              | поверхностные лобные морщины 
          li
            .indication-circle
              | 4
            span 
              | носослезные борозды 


  section.face.mob
    .wrapper
      .face_title
        img(src="../../images/derm-logo-mob.png" alt="logo")
      .face-right__title
        | Показания к применению
      .face-right__subtitle
        | Умеренно выраженные морщины и складки лица, в том числе:  
      ul.indication
        li
          .indication-circle
            | 1
          span 
            | периорбитальные морщины   
        li
          .indication-circle
            | 2
          span 
            | периоральные морщины
        .and 
            | а также  
        li
          .indication-circle
            | 3
          span 
            | поверхностные лобные морщины 
        li
          .indication-circle
            | 4
          span 
            | носослезные борозды 

      .face-center
        .image-side
          img(src="../../images/derm-img.png" alt="img")
        img(src="../../images/face-2.png" alt="alt")
        .face-info_block.blue
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | 	Поверхностный подкожный	или подслизистый слой 
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	++
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 1 мл
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | 2 иглы размером 30 G1/2’’ 
      
          


              
  section.face
    .wrapper
      .face-left
        .face_title
          img(src="../../images/deep-logo.jpg" alt="logo")
        .face-info_block.rose
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | Подкожныйили 	подслизистый слой
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	+++
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 1 мл
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | 2 иглы размером 30 G1/2’’ 
          .image-side
            img(src="../../images/deep-img.png" alt="img")
      .face-center
        img(src="../../images/face-3.png" alt="alt")
      .face-right
        .face-right__title
          | Показания к применению
        .face-right__subtitle
          | Глубокие морщины и складки лица, в том числе 
        ul.indication
          li
            .indication-circle
              | 1
            span 
              | носогубные складки
          li
            .indication-circle
              | 2
            span 
              | морщины «марионетки»
          li
            .indication-circle
              | 3
            span 
              | скулы
          li
            .indication-circle
              | 4
            span 
              | подбородок
          li
            .indication-circle
              | 5
            span 
              | овал лица
          li
            .indication-circle
              | 6
            span 
              | височная область
          li
            .indication-circle
              | 7
            span 
              | подглазничный жировой пакет
          li
            .indication-circle
              | 8
            span 
              | объем губ
          li
            .indication-circle
              | 9
            span 
              | коррекция носа


  section.face.mob
    .wrapper
      .face_title
        img(src="../../images/deep-logo-mob.png" alt="logo")
      .face-right__title
        | Показания к применению
      .face-right__subtitle
        | Глубокие морщины и складки лица, в том числе:  
      ul.indication
          li
            .indication-circle
              | 1
            span 
              | носогубные складки
          li
            .indication-circle
              | 2
            span 
              | морщины «марионетки»
          li
            .indication-circle
              | 3
            span 
              | скулы
          li
            .indication-circle
              | 4
            span 
              | подбородок
          li
            .indication-circle
              | 5
            span 
              | овал лица
          li
            .indication-circle
              | 6
            span 
              | височная область
          li
            .indication-circle
              | 7
            span 
              | подглазничный жировой пакет
          li
            .indication-circle
              | 8
            span 
              | объем губ
          li
            .indication-circle
              | 9
            span 
              | коррекция носа

      .face-center
        .image-side
          img(src="../../images/deep-img.png" alt="img")
        img(src="../../images/face-3.png" alt="alt")
        .face-info_block.rose
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | 	Подкожный	или подслизистый слой 
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	+++
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 1 мл
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | 2 иглы размером 30 G1/2’’ 

              
  section.face
    .wrapper
      .face-left
        .face_title
          img(src="../../images/subskin-logo.jpg" alt="logo")
        .face-info_block.yellow
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | Глубокий подкожныйили супрапериостальный слой
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	++++
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 3 шприца по 1 мл.
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | игла размером 21 G x 50 мм <br>	
                | + канюля размером 21 G x 50 мм <br>
                | 6 игл* размером 25 G x 13 мм <br>
            .available
              | * Доступно в РФ с 2021    
          .image-side
            img(src="../../images/subskin-img.png" alt="img")
      .face-center
        img(src="../../images/face-4.png" alt="alt")
      .face-right
        .face-right__title
          | Показания к применению
        ul.indication
          li
            .indication-circle
              | 1
            span 
              | существенная потеря объема
          li
            .indication-circle
              | 2
            span 
              | скулы
          li
            .indication-circle
              | 3
            span 
              | подбородок
          li
            .indication-circle
              | 4
            span 
              | овал лица
          li
            .indication-circle
              | 5
            span 
              | виски
          li
            .indication-circle
              | 6
            span 
              | лоб
          li
            .indication-circle
              | 7
            span 
              | переносица
          li
            .indication-circle
              | 8
            span 
              | кисти рук
          
  section.face.mob
    .wrapper
      .face_title
        img(src="../../images/subskin-logo-mob.png" alt="logo")
      .face-right__title
        | Показания к применению
      ul.indication
          li
            .indication-circle
              | 1
            span 
              | существенная потеря объема
          li
            .indication-circle
              | 2
            span 
              | скулы
          li
            .indication-circle
              | 3
            span 
              | подбородок
          li
            .indication-circle
              | 4
            span 
              | овал лица
          li
            .indication-circle
              | 5
            span 
              | виски
          li
            .indication-circle
              | 6
            span 
              | лоб
          li
            .indication-circle
              | 7
            span 
              | переносица
          li
            .indication-circle
              | 8
            span 
              | кисти рук

      .face-center
        .image-side-custom
          img(src="../../images/subskin-img.png" alt="img")
        img(src="../../images/face-4.png" alt="alt")
        .face-info_block.yellow
          .info-side
            .info_block-section
              .info_block-section__title
                | Глубина инъекции
              .info_block-section__description
                | 	Глубокий подкожный	или супрапериостальный слой 
            .info_block-section
              .info_block-section__title
                | Концентрация ГК
              .info_block-section__description
                | 	20 мг/мл 
            .info_block-section
              .info_block-section__title
                | Волюмизирующий эффект
              .info_block-section__description
                | 	++++
            .info_block-section
              .info_block-section__title
                | Объем
              .info_block-section__description
                | 3 шприца по 1 мл.
            .info_block-section
              .info_block-section__title
                | Иглы и канюли
              .info_block-section__description
                | игла размером 21 G x 50мм<br>           
                | *канюля размером 21 G x 50мм<br>           
                | 6 игл* размером 25 G x 13мм           





        
        
        